
@font-face {
  font-family: "mypro-icon";
  font-weight: normal;
  font-style: normal;
  src: url("mypro-icon.eot");
  src: url("mypro-icon.eot?#iefix") format("embedded-opentype"), url("mypro-icon.woff") format("woff"), url("mypro-icon.ttf") format("truetype"), url("mypro-icon.svg#mypro-icon") format("svg"); }

.mypro-icon[class^="mypro-icon-"],
.mypro-icon[class*=" mypro-icon-"] {
  display: inline-block;
  font-family: 'mypro-icon';
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline; }

.mypro-icon-agent:before {
  content: ""; }

.mypro-icon-arrow-down:before {
  content: ""; }

.mypro-icon-arrow-left:before {
  content: ""; }

.mypro-icon-arrow-right:before {
  content: ""; }

.mypro-icon-arrow-up:before {
  content: ""; }

.mypro-icon-bill:before {
  content: ""; }

.mypro-icon-calculator:before {
  content: ""; }

.mypro-icon-cross:before {
  content: ""; }

.mypro-icon-exit:before {
  content: ""; }

.mypro-icon-feedback:before {
  content: ""; }

.mypro-icon-folder:before {
  content: ""; }

.mypro-icon-forward:before {
  content: ""; }

.mypro-icon-help:before {
  content: ""; }

.mypro-icon-home:before {
  content: ""; }

.mypro-icon-inbox:before {
  content: ""; }

.mypro-icon-mail:before {
  content: ""; }

.mypro-icon-past-sale:before {
  content: ""; }

.mypro-icon-payment:before {
  content: ""; }

.mypro-icon-phone:before {
  content: ""; }

.mypro-icon-plus:before {
  content: ""; }

.mypro-icon-settings:before {
  content: ""; }

.mypro-icon-sms:before {
  content: ""; }

.mypro-icon-stats:before {
  content: ""; }

.mypro-icon-vitrine:before {
  content: ""; }
